body{
    background-color: rgb(245, 246, 230);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

.menu{
    background-color: rgb(157, 172, 129);
    width: auto;
    height: 40px;
    text-align: right;
    padding: 30px;
    margin: 10px;  
    border-radius: 15px;
}

.btnMenu{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 0.8rem;
}

.btnMenu:hover{
    background-color: rgb(87, 112, 117);
    border-radius: 15px;
    padding: 20px;
}

.proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    background-color: rgb(87, 112, 117);
    color: white;
    margin: 20px;
    margin-left: 3.5rem;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
}

.card-img-top{
    padding: 5px;
    margin: 5px;
    
}

.card-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text{
    color: black;
    background-color: rgb(157, 172, 129);
    padding: 5px;
    margin: 5px;

}

.btnInfo{
    background-color: rgb(157, 172, 129);
    color: rgb(245, 246, 230);
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}